.cell{
    display: flex;
    align-items: center;
    justify-content: center;

    &.white{
        background-color: #ffffff7b;
    }

    &.black{
        background-color: #ffffff1d;
    }

    &.selected{
        background-color: #00800092;

        img{
            transform: scale(1.4);
        }
    }

    img{
        cursor: pointer;
        width: 60%;
        height: 60%;
        object-fit: contain;
        transition: .3s linear;

        &:hover{
            transform: scale(1.2);
        }
    }
}

