.cell{
    display: flex;
    align-items: center;
    justify-content: center;

    &.white{
        background-color: #ffffff7b;
    }

    &.black{
        background-color: #ffffff1d;
    }

    img{
        cursor: pointer;
        width: 60%;
        height: 60%;
        object-fit: contain;
        transition: .3s linear;

        &:hover{
            transform: scale(1.1);
        }
    }
}

