@import './styles/board.scss';
@import './styles/cell.scss';

*{
    margin: 0;
    padding: 0;
}

#app{
    min-width: 100dvw;
    min-height: 100dvh;

    display: flex;
    align-items: center;
    justify-content: center;
}